! urxvt
!Xft.dpi: 92
Xft.lcdfilter: lcddefault
Xft.hinting: 1
Xft.hintstyle: hintslight
Xft.autohint: 0
Xft.rgba: rgb
Xft.antialias: 1
Xcursor.theme: Bluecurve-inverse
XLock.mode:       blank
!XLock.font:       -*-helvetica-*-r-*-*-*-*-*-*-*-130-*-*
XLock.font:                xft:DejaVu Sans Mono:pixelsize=18
XLock.background: black
XLock.foreground: white
XLock.username:   
XLock.password:   Enter your password bitch!
XLock.infl:       
XLock.validate:   
XLock.invalid:    Wrong password bitch!

URxvt.loginShell:          true
URxvt.geometry:            120x40
URxvt.saveLines:           10000
URxvt.cutchars:            "`\"'&()*,:;<=>?[\\]^{|}$"
URxvt.foreground:          rgb:b8/b8/b8
URxvt.background:          rgb:00/00/00
!URxvt.transparent:         true
!URxvt.shading:             20
!URxvt.foreground:          #eeeeee
URxvt.font:                xft:DejaVu Sans Mono:pixelsize=18
URxvt.scrollBar:           false
URxvt.visualBell:          true
URxvt.fading:              15
URxvt.perl-ext-common:     default,matcher,tabbed,resize-font
URxvt.url-launcher:        /usr/bin/xdg-open
URxvt.matcher.button:      1
URxvt.keysym.C-Delete:     perl:matcher:last
URxvt.keysym.M-Delete:     perl:matcher:list
URxvt.matcher.rend.0:      Uline Bold fg5
URxvt.tabbed.tabbar-fg:    2
URxvt.tabbed.tabbar-bg:    0
URxvt.tabbed.tab-fg:       3
URxvt.tabbed.tab-bg:       0
URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger:  C-Up
URxvt.iso14755:            false
URxvt.iso14755_52:         false


rofi.color-enabled: true
!                  'background', 'border', 'separator'
rofi.color-window: #aa000000,    #fdfd3b,  #000000
! State:           'bg',     'fg',     'bgalt',  'hlbg',   'hlfg'
rofi.color-normal: #aa000000, #bbbbbb, #aa222222, #aa000000, #fdfd3b
rofi.color-active: #aa000000, #bbbbbb, #aa222222, #aa000000, #fdfd3b
rofi.color-urgent: #aa000000, #bbbbbb, #aa222222, #aa000000, #fd2222


